
@section Footer
{
    
    <h3> In Content Page Footer ...</h3>
    
    
    }


@{
    ViewBag.Title = "Layout Content With Section ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Layout Content View</h2>

<h4>Before </h4>



@section Scripts
{
    <script>

       $("h4").html("JQuery Executed ...... ")

    </script>

    }